<!DOCTYPE html>
<html lang="pt-BR">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../styles/global.css">
  <link rel="stylesheet" href="../styles/login.css">
  <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
  <script src="../app.js" defer></script>
  <title>Projeto 1 - Login</title>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
</head>

<body>
  <header>
    <section class="headerContainer">
      <section class="logo">
        <img src="" alt="">
        <h1>KPOP</h1>
        <h1 id="event">EVENT</h1>
      </section>
      <section class="navContainer">
        <nav>
          <ul>
            <a href="/">
              <li>
                Home
              </li>
            </a>
          </ul>
        </nav>
      </section>
    </section>
  </header>
  <main>

    <article class="container">
      <form action="/login" method="post">
        <h1>Login</h1>
        <section class="inputBox">
          <input type="text" name="username" required>
          <label>Usuário</label>
          <i class='bx bxs-user'></i>
        </section>
        <section class="inputBox">
          <input type="password" name="password" required>
          <label>Senha</label>
          <i class='bx bxs-lock-alt' ></i>
        </section>

        <section class="rememberCheck">
          <label for=""><input type="checkbox">Lembrar credenciais</label>
          <a href="#">Esqueceu a senha?</a>
        </section>

        <button type="submit" class="btn">Entrar</button>

        <section class="registerLink">
          <p>
            Não tem uma conta?
            <a href="#">Cadastrar</a>
          </p>
        </section>
      </form>
    </article>
    <!-- <article>
      <h1>Login</h1>
      <section class="">
        <form action="">
          <section class="">
            <label for="user">Usuário</label>
            <input type="text" name="user" required placeholder="Insira o seu nome de usuário">
          </section>
          <section class="">
            <label for="password">Senha</label>
            <input type="password" name="password" required placeholder="Insira a sua senha">
          </section>
          <section class="">
            <button type="submit">Entrar</button>
          </section>
        </form>
      </section>
    </article> -->

  </main>
  <footer>
    <section class="midiaContainer">
      <a href="#" target="_blank">
        p
        <img src="" alt="">
      </a>
      <a href="#" target="_blank">
        p
        <img src="" alt="">
      </a>
      <a href="#" target="_blank">
        p
        <img src="" alt="">
      </a>
    </section>
    <p>Todos os direitos reservados 2023</p>
  </footer>
</body>

</html>