<!DOCTYPE html>
<html lang="pt-BR">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="../styles/global.css">
  <link rel="stylesheet" type="text/css" href="../styles/home.css">
  <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
  <script src="../app.js" defer></script>
  <title>Kpop Event</title>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
</head>

<body>
  <header>
    <section class="headerContainer">
      <section class="logo">
        <img src="" alt="">
        <h1>KPOP</h1>
        <h1 id="event">EVENT</h1>
      </section>
      <section class="navContainer">
        <nav>
          <ul>
            <a href="/">
              <li>
                Home
              </li>
            </a>
            <% if (!user) { %>
              <!-- Mostra apenas quando o usuário NÃO estiver logado -->
              <a href="/login">
                <li>
                  Login
                </li>
              </a>
            <% } else { %>
              <!-- Mostra apenas quando o usuário estiver logado -->
              <a href="/admin">
                <li>
                  Admin
                </li>
              </a>
              <a href="/login/logout">
                <li>
                  Logout
                </li>
              </a>
            <% } %>
          </ul>
        </nav>
      </section>
    </section>
  </header>
  <main>
    <section class="mainContainer">
      <article class="title">
        <h1>Kpop Events</h1>
      </article>
      <section>
        <form action="/searchResults" method="get" class="searchContainer">
          <input type="text" class="searchBar" name="keywords" placeholder="Pesquisar">
          <button type="submit" class="searchBtn">
            <img src="../img/lupa.svg" alt="Lupa">
          </button>
        </form>
      </section>
      <section class="container">
        <article class="subTitle">
          <h2>Resultados da Pesquisa</h2>
        </article>
        <section class="groupContainer">
          <% results.forEach(article=> { %>
            <a href="/article/<%= article.kb_id %>">
              <section class="newsContainer">
                <section class="imgContainer">
                  <img src="../img/bg.jpg" alt="" class="">
                </section>
                <article class="infoContainer">
                  <h3>
                    <%= article.kb_title %>
                  </h3>
                  <p>
                    <%= article.kb_summary %>
                  </p>
                </article>
              </section>
            </a>
            <% }); %>
        </section>
      </section>
  </main>
  <footer>
    <section>
      <i class='bx bxl-twitter bx-md'></i>
      <i class='bx bxl-instagram bx-md'></i>
      <i class='bx bxl-youtube bx-md'></i>
    </section>
    <p>Todos os direitos reservados © 2023</p>
  </footer>
</body>

</html>