<!DOCTYPE html>
<html lang="pt-BR">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="../styles/global.css">
  <link rel="stylesheet" type="text/css" href="../styles/home.css">
  <script src="../app.js" defer></script>
  <title>Projeto 1</title>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
</head>

<body>
  <header>
    <section class="headerContainer">
      <section class="logo">
        <img src="" alt="">
        <h1>KPOP</h1>
        <h1 id="event">EVENT</h1>
      </section>
      <section class="navContainer">
        <nav>
          <ul>
            <a href="/">
              <li>
                Home
              </li>
            </a>
            <a href="/login">
              <li>
                Login
              </li>
            </a>
            <a href="/createArticle">
              <li>
                Cadastro de Artigo
              </li>
            </a>
          </ul>
        </nav>
      </section>
    </section>
  </header>
  <main>
    <section class="mainContainer">
      <article class="title">
        <h1>Kpop Events</h1>
      </article>
      <section class="searchContainer">
        <form action="/searchResults" method="get">
          <input type="text" class="searchBar" name="keywords" placeholder="Pesquisar">
          <button type="submit" class="searchBtn">
            <img src="../img/lupa.svg" alt="Lupa">
          </button>
        </form>
        <!-- <input type="text" class="searchBar" id="searchInput" placeholder="Pesquisar">
        <a href="#" class="searchBtn" id="searchButton">
          <img src="../img/lupa.svg" alt="Lupa">
        </a> -->
      </section>
      <section class="container">
        <h1>Resultados da Pesquisa</h1>
    <ul>
      <% results.forEach(article => { %>
        <li>
          <a href="/article/<%= article.kb_id %>"><%= article.kb_title %></a>
          <p><%= article.kb_summary %></p>
        </li>
      <% }); %>
    </ul>
    </section>
  </main>
  <footer>
    <section class="midiaContainer">
      <a href="#" target="_blank">
        p
        <img src="" alt="">
      </a>
      <a href="#" target="_blank">
        p
        <img src="" alt="">
      </a>
      <a href="#" target="_blank">
        p
        <img src="" alt="">
      </a>
    </section>
    <p>Todos os direitos reservados 2023</p>
  </footer>
</body>

</html>