<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro de Usuário</title>
</head>
<body>
  <a href="/admin">Voltar</a>
  <a href="/">Home</a>
    <h1>Cadastro de Usuário</h1>
    <form action="/users/signup" method="post">
        <label for="author_name">Nome:</label>
        <input type="text" id="author_name" name="author_name" required><br>

        <label for="author_email">Email:</label>
        <input type="email" id="author_email" name="author_email" required><br>

        <label for="author_user">Nome de Usuário:</label>
        <input type="text" id="author_user" name="author_user" required><br>

        <label for="author_pwd">Senha:</label>
        <input type="password" id="author_pwd" name="author_pwd" required><br>

        <input type="submit" value="Cadastrar">
    </form>
</body>
</html>
