<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../styles/styles.css">
  <script src="" defer></script>
  <title>Projeto 1</title>
</head>
<body>
  <header>
    <section class="headerContainer">
      <section class="logo">
        <img src="" alt="">
        <h1>AVATAR</h1>
        <h1 id="wiki">WIKI</h1>
      </section>
      <section class="navContainer">
        <nav>
          <ul>
            <a href="/">
              <li>
                Home
              </li>
            </a>
            <a href="/login">
              <li>
                Login
              </li>
            </a>
            <a href="/createArticle">
              <li>
                Cadastro de Artigo
              </li>
            </a>
          </ul>
        </nav>
      </section>
    </section>
  </header>
  <main>

  </main>
</body>
</html>