<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../styles/index.css">
  <script src="" defer></script>
  <title>Projeto 1</title>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link
    href="https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
    rel="stylesheet">
</head>

<body>
  <header>
    <section class="headerContainer">
      <section class="logo">
        <img src="" alt="">
        <h1>KPOP</h1>
        <h1 id="event">EVENT</h1>
      </section>
      <section class="navContainer">
        <nav>
          <ul>
            <a href="/">
              <li>
                Home
              </li>
            </a>
            <a href="/login">
              <li>
                Login
              </li>
            </a>
          </ul>
        </nav>
      </section>
    </section>
  </header>
  <main>
    <section class="mainContainer">
      <article class="title">
        <h1>Kpop Events</h1>
      </article>
      <section class="searchContainer">
        <input type="text" class="searchBar" placeholder="Pesquisar">
        <a href="#" class="searchBtn">
          <img src="../public/img/lupa.svg" alt="Lupa">
        </a>
      </section>
      <section class="container">
        <article class="subTitle">
          <h2>Últimas publicações</h2>
        </article>
        <section class="groupContainer">
          <section class="newsContainer">
            <section class="imgContainer">
              <img src="../public/img/bg.jpg" alt="" class="">
            </section>
            <a href="#" target="_blank">
              <article class="infoContainer">
                <h3>TWICE READY TO BE TOUR BRAZIL</h3>
                <p>Anunciado show do girl group Twice no Allianz Parque</p>
              </article>
            </a>
          </section>
          <section class="newsContainer">
            <section class="imgContainer">
              <img src="../public/img/bg.jpg" alt="" class="">
            </section>
            <a href="#" target="_blank">
              <article class="infoContainer">
                <h3>TWICE READY TO BE TOUR BRAZIL</h3>
                <p>Anunciado show do girl group Twice no Allianz Parque</p>
              </article>
            </a>
          </section>
        </section>
      </section>
      <section class="container">
        <article class="subTitle">
          <h2>Publicações Mais Curtidas</h2>
        </article>
        <section class="groupContainer">
          <section class="newsContainer">
            <section class="imgContainer">
              <img src="../public/img/bg.jpg" alt="" class="">
            </section>
            <a href="#" target="_blank">
              <article class="infoContainer">
                <h3>RED VELVET RtoV TOUR EUROPE</h3>
                <p>Confirmado datas dos shows do girl group Red Velvet na Europa</p>
              </article>
            </a>
          </section>
        </section>
      </section>
    </section>
  </main>
  <footer>
    <section class="midiaContainer">
      <a href="#" target="_blank">
        p
        <img src="" alt="">
      </a>
      <a href="#" target="_blank">
        p
        <img src="" alt="">
      </a>
      <a href="#" target="_blank">
        p
        <img src="" alt="">
      </a>
    </section>
    <p>Todos os direitos reservados 2023</p>
  </footer>
</body>

</html>