<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Projeto 1 - Login</title>
</head>
<body>
  <header>

  </header>
  <main>
    <article>
      <h1>Login</h1>
      <% if (error) { %>
        <p style="color: red;">Autenticação falhou. Verifique suas credenciais.</p>
      <% } %>
      <section class="mainContainer">
        <form action="">
          <section class="inputContainer">
            <label for="user">Usuário</label>
            <input type="text" name="user" required placeholder="Insira o seu nome de usuário">
          </section>
          <section class="inputContainer">
            <label for="password">Senha</label>
            <input type="password" name="password" required placeholder="Insira a sua senha">
          </section>
          <section class="btnContainer">
            <button type="submit">Entrar</button>
          </section>
        </form>
      </section>
    </article>
  </main>
</body>
</html>